<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Falcon HelpDesk{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<div class="app-layout">

    <aside class="sidebar">

        <div class="brand">
            <div class="brand-logo">FH</div>

            <div>
                <h2>Falcon</h2>
                <span>HelpDesk</span>
            </div>
        </div>

        <nav class="sidebar-nav">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('create_ticket') }}">Create Ticket</a>
            <a href="{{ url_for('all_tickets') }}">All Tickets</a>
            <a href="#">Assets</a>
            <a href="#">Users</a>
            <a href="#">Reports</a>
            <a href="#">Settings</a>
        </nav>

        <div class="sidebar-footer">
            <strong>Ali Almazrouei</strong>
            <span>Administrator</span>
        </div>
    </aside>

    <main class="main-content">

        <header class="topbar">

            <div>
                <h1>
                    {% block page_title %}
                    Dashboard
                    {% endblock %}
                </h1>

                <p>IT support and ticket management platform</p>
            </div>

            <a
                class="primary-btn"
                href="{{ url_for('create_ticket') }}"
            >
                Create Ticket
            </a>

        </header>

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>